.container-app {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.App {
  text-align: center;
  margin: 0 !important;
  height: 100vh;
  width: 100vw;
  background-color: #282c34 !important;
}

.App-day {
  text-align: center;
  margin: 0 !important;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

html {
  box-sizing: border-box;
}
html *,
html *:before,
html *:after {
  box-sizing: inherit;
}

.App h1 {
  margin-bottom: 1.375em;
  color: #fff;
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
}
.App h3,
a {
  color: rgba(255, 255, 255, 0.3);
  font-size: small;
}
.App h3 {
  margin: 1.375rem 0;
}

.icon {
  color: #282c34 !important;
}
